# NetBeans specific #
/FlightBooking/nbproject/private/
/FlightBooking/build/
/FlightBooking/nbbuild/
/FlightBooking/dist/
/FlightBooking/nbdist/
/FlightBooking/nbactions.xml
/FlightBooking/nb-configuration.xml

# NetBeans specific #
/FlightBookingClient/nbproject/private/
/FlightBookingClient/build/
/FlightBookingClient/nbbuild/
/FlightBookingClient/dist/
/FlightBookingClient/nbdist/
/FlightBookingClient/nbactions.xml
/FlightBookingClient/nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
